*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
.main{
    position: relative;
    top: 14%;
    left: 13%;
    width: 70%;
    height: 60%;
    border-radius: 10px;
    /* border: 1px solid red; */
    /* background: rgb(2,0,36); */
    background: linear-gradient(69deg, rgb(233, 137, 169) 0%, rgb(63, 103, 122) 57%);
    box-shadow: 0 0 6px 0.5px black;
}
input::placeholder{
    color: rgb(204, 150, 150);
}
.mini{
   position: absolute;
   top: 13%;
    margin-left: 90px;
    width: 30%;
    height: 80%;
    /* border: 1px solid black; */
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    
}
h1{
  
    color: rgb(227, 238, 241);
    /* font-size: 50px; */
}
h4{
    color: rgb(172, 217, 231);
    padding-top: 10px;
    font-size: 17px;
    font-weight: 200;
}
h3{
    color: rgb(231, 230, 156);
    padding-top: 18px;
}
#container{
    width: 25%;
    height: 50%;
    /* border: 1px solid red; */
    /* margin-top: 10%;
    margin-left: 30%; */
    position: absolute;
    top: 17%;
    left: 52%;
    border-radius: 8px;
    background-color: rgb(207, 221, 235);
}
h2{
    margin-top: 20px;
    margin-left: 110px;
}
.heading{ 
   margin-left: 15px;
   
  
}
input{
   margin-top: 3px; 
  margin-left: 15px;
  border: none;
  border-bottom: 1.5px solid rgb(167, 61, 61);
  background: transparent;
  outline: none;
  height: 25px;
  color: rgb(145, 57, 57);
  font-size: 12px;
  
}
#image{
    border-bottom: none;
}
#text{
   padding-top: 12px;
    margin-left: 15px;
}
button{
    width: 120px;
    height: 30px;
    margin-top: 7%;
    margin-left: 30%;
    border-radius: 150px;
    border: none;
}
button:hover{
    background-color: rgb(21, 212, 149);
    color: white;
}
#Fullname{
    /* margin-left: 5px; */
}
#enrolment{
    /* margin-left: 5px; */
}
#year{
    /* width: 50px; */
    /* margin-left: 5px; */
}
img{
    width: 12%;
    height: 6%;
    margin-left: 30%;
    /* border: 1px solid red; */
}
#card{
    width: 70%;
    /* height: 30%; */
    /* border: 1px solid red; */
    margin-top: 10%;
    margin-left: 13%;
    border-radius: 8px;
    background: linear-gradient(180deg, rgb(192, 184, 226) 0%, rgb(226, 131, 236) 100%);
    padding: 10px;
    border-right:1.5px solid rgb(5, 5, 5) ;
    border-bottom: 1.5px solid rgb(9, 22, 19);
    box-shadow: 0 0 6px 0.5px black;
   
}
#card>p{
    
}
#card>h4{
    color: red;
   
    margin-left: 70%;
}
#card>h5{
    margin-left: 30%;
}